{% extends "blog/base.html" %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
<!-- Blog Detail Start -->

    <!-- Blog Detail Start -->
    <div class="container py-5 px-2 bg-white">
        <div class="row px-4">
            <div class="col-12">
                <img class="img-fluid mb-4" src="{{ object.image.url }}" alt="Image" width="1000" height="600">
                <h2 class="mb-3 font-weight-bold">{{ object.title }}</h2>
                <div class="d-flex">
                    <p class="mr-3 text-muted"><i class="fa fa-calendar-alt"></i> {{ object.pub_date }}</p>
                    <p class="mr-3 text-muted"><i class="fa fa-folder"></i> Web Design</p>
                    <p class="mr-3 text-muted"><i class="fa fa-comments"></i> 0 Comments</p>
                </div>
                <p>{{ object.content|safe }}</p>
            </div>
        </div>
    </div>
    <!-- Blog Detail End -->

{% endblock %}
